@font-face {
    font-family: 'NoonnuBasicGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

*{
    font-family: 'NoonnuBasicGothic';
}